<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country_subdivision.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @country_subdivision.position %>
</p>

<p>
  <strong>Country:</strong>
  <%= @country_subdivision.country %>
</p>

<%= link_to 'Edit', edit_country_subdivision_path(@country_subdivision) %> |
<%= link_to 'Back', country_subdivisions_path %>
