<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prmat.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @prmat.position %>
</p>

<%= link_to 'Edit', edit_prmat_path(@prmat) %> |
<%= link_to 'Back', prmats_path %>
