<p id="notice"><%= notice %></p>

<h1>Listing Dating Methods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dating_methods.each do |dating_method| %>
      <tr>
        <td><%= dating_method.name %></td>
        <td><%= dating_method.position %></td>
        <td><%= link_to 'Show', dating_method %></td>
        <td><%= link_to 'Edit', edit_dating_method_path(dating_method) %></td>
        <td><%= link_to 'Destroy', dating_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dating method', new_dating_method_path %>
