<% content_for :head, auto_discovery_link_tag(:atom, announcements_url(format: "atom")) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <h1>Radon Announcements <%= link_to image_tag("feed-icon-28x28.png"), announcements_url(format: "atom") %></h1>

      <div id="announcements">
        <% @announcements.each do |announcement| %>
          <h2><%= link_to announcement.title, announcement %></h2>
          <div class="info">
            on <%= announcement.created_at.strftime('%b %d, %Y') %>
          </div>
          <div class="content"><%= markdown announcement.content %></div>
          <p>
            <%=index_table_links(announcement)%>
          </p>
          <hr/>
        <% end %>
      </div>

    </div>
  </div>
</div>
