<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lab_id %><br>
    <%= f.text_field :lab_id %>
  </div>
  <div class="field">
    <%= f.label :lab_nr %><br>
    <%= f.text_field :lab_nr %>
  </div>
  <div class="field">
    <%= f.label :bp %><br>
    <%= f.number_field :bp %>
  </div>
  <div class="field">
    <%= f.label :std %><br>
    <%= f.number_field :std %>
  </div>
  <div class="field">
    <%= f.label :delta_13_c %><br>
    <%= f.text_field :delta_13_c %>
  </div>
  <div class="field">
    <%= f.label :delta_13_c_std %><br>
    <%= f.text_field :delta_13_c_std %>
  </div>
  <div class="field">
    <%= f.label :prmat_id %><br>
    <%= f.text_field :prmat_id %>
  </div>
  <div class="field">
    <%= f.label :prmat_comment %><br>
    <%= f.text_area :prmat_comment %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :feature %><br>
    <%= f.text_field :feature %>
  </div>
  <div class="field">
    <%= f.label :feature_type_id %><br>
    <%= f.text_field :feature_type_id %>
  </div>
  <div class="field">
    <%= f.label :phase_id %><br>
    <%= f.text_field :phase_id %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br>
    <%= f.text_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :right_id %><br>
    <%= f.text_field :right_id %>
  </div>
  <div class="field">
    <%= f.label :dating_method_id %><br>
    <%= f.text_field :dating_method_id %>
  </div>
  <div class="field">
    <%= f.label :contact_e_mail %><br>
    <%= f.text_field :contact_e_mail %>
  </div>
  <div class="field">
    <%= f.label :creator_ip %><br>
    <%= f.text_field :creator_ip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
