      <td><%=h table_object.lab.lab_code rescue nil %></td>
      <td><%=h table_object.lab_nr %></td>
      <td><%=h table_object.bp %></td>
      <td><%=h table_object.std %></td>
      <td><%=h table_object.delta_13_c %></td>
      <td><%=h table_object.delta_13_c_std %></td>
      <td><%=h table_object.prmat.name rescue nil %></td>
      <td><%=h table_object.comment %></td>
      <td><%=h table_object.feature %></td>
      <td><%=h table_object.feature_type.name rescue nil %></td>
      <td><%=h table_object.phase.culture.name rescue nil %></td>
      <td><%=h table_object.phase.name rescue nil %></td>
      <td><%=h table_object.site.name rescue nil %></td>
