<%=javascript_include_tag "//maps.googleapis.com/maps/api/js?sensor=false&key=#{ENV['GOOGLE_MAPS_API_KEY_JAVASCRIPT']}"%>
<script type="text/javascript" src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
<a href="javascript:toggleMap();" id="toggleMap" />Show/Hide Map</a>
<%= javascript_tag '
function toggleMap(){
    var el = $("#map_container");
    el.toggle(400);
    $(".leaflet-container").setZoom(4)
}
'%>

<div id = "map_container">
<%= content_tag(:div, '', id: 'map', style: "height: 500px", data: {"sites": @sites_for_samples})%>
  <br style="clear:both">
  <%if params[:bbox]%>  
    <%
        pn=params.dup
        pn=pn.except('bbox') %>
      <% content_tag(:button, :type => "button", :onclick => "window.location.href = '#{url_for(pn)}'; ") do -%>
        Remove Location Filter
      <% end %>
  <% end %>
</div>
<%#= include_wice_grid_assets %>
  <% if params[:scope]%>
    <% if params[:scope]['countries.id'] %>
      Only Samples for Country <b><%=Country.find(params[:scope]['countries.id']).name%></b> shown.<br>
      <%
      pn=params.dup
      pn[:scope]=pn[:scope].except('countries.id') %>
      <%=link_to "Remove filter", pn%>
    <% end -%>
    <% if params[:scope]['country_subdivisions.id'] %>
      Only Samples for Country Subdivision <b><%=CountrySubdivision.find(params[:scope]['country_subdivisions.id']).name%></b> shown.<br>
      <%
      pn=params.dup
      pn[:scope]=pn[:scope].except('country_subdivisions.id') %>
      <%=link_to "Remove filter", pn%>
    <% end -%>
    <% if params[:scope]['cultures.id'] %>
      Only Samples for Culture <b><%=Culture.find(params[:scope]['cultures.id']).name%></b> shown.<br>
      <%
      pn=params.dup
      pn[:scope]=pn[:scope].except('cultures.id') %>
      <%=link_to "Remove filter", pn%>
    <% end -%>
    
    <% if params[:scope]['feature_types.id'] %>
      Only Samples for Feature Type <b><%=FeatureType.find(params[:scope]['feature_types.id']).name%></b> shown.<br>
      <%
      pn=params.dup
      pn[:scope]=pn[:scope].except('feature_types.id') %>
      <%=link_to "Remove filter", pn%>
    <% end -%>
    
    <% if params[:scope]['labs.id'] %>
      Only Samples for Laboratory <b><%=Lab.find(params[:scope]['labs.id']).name%></b> shown.<br>
      <%
      pn=params.dup
      pn[:scope]=pn[:scope].except('labs.id') %>
      <%=link_to "Remove filter", pn%>
    <% end -%>
    
    <% if params[:scope]['literatures.id'] %>
      Only Samples for Literature <b><%=Literature.find(params[:scope]['literatures.id']).name%></b> shown.<br>
      <%
      pn=params.dup
      pn[:scope]=pn[:scope].except('literatures.id') %>
      <%=link_to "Remove filter", pn%>
    <% end -%>
    
    <% if params[:scope]['prmats.id'] %>
      Only Samples for Material <b><%=Prmat.find(params[:scope]['prmats.id']).name%></b> shown.<br>
      <%
      pn=params.dup
      pn[:scope]=pn[:scope].except('prmats.id') %>
      <%=link_to "Remove filter", pn%>
    <% end -%>
    
    <% if params[:scope]['sites.id'] %>
      Only Samples for Site <b><%=Site.find(params[:scope]['sites.id']).name%></b> shown.<br>
      <%
      pn=params.dup
      pn[:scope]=pn[:scope].except('sites.id') %>
      <%=link_to "Remove filter", pn%>
    <% end -%>
    
  <% end -%>
<%#= render :partial => "layouts/standard_list_form",
  :locals =>
  {
    :model_name => "Sample",
    :human_name => "Samples",
    :dnd => false
  } %>
  
  <%= render :partial => 'samples_grid' %>

<%= link_to("Calibrate selected", "#", onclick: "
var values = '';
$('input[name=\"samples[handle_multiple][]\"]:checked:enabled').each(
  function(){
    values = values + 'ids[]='+$(this).val()+'&';
  }
);
if (values.length >1) {
if (values.length >1950) {
alert('Sorry, to many samples selected!');
}
else{
newwindow=window.open('#{url_for(:controller => :samples, :action => :calibrate_multi)}?'+values, 'name','height=800,width=1000,resizable=yes,scrollbars=yes,status=yes');};
}
", class: "btn btn-info") %>
<%= link_to("Sum Calibration for selected", "#", onclick: "
var values = '';
$('input[name=\"samples[handle_multiple][]\"]:checked:enabled').each(
  function(){
    values = values + 'ids[]='+$(this).val()+'&';
  }
);
if (values.length >1) {
if (values.length >1950) {
alert('Sorry, to many samples selected!');
}
else{
newwindow=window.open('#{url_for(:controller => :samples, :action => :calibrate_sum)}?'+values, 'name','height=800,width=1000,resizable=yes,scrollbars=yes,status=yes');};
}
", class: "btn btn-info") %>

    <% if permitted_to? :new, :samples %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_sample_path,
                :class => 'btn btn-primary' %>

    <%end %>
  
  
<%unless params[:bbox]%>
<%=javascript_tag '$(function() {
  // initially hide all containers for tab content
  $("#map_container").hide();
});'
%>
<%end%>
