<p id="notice"><%= notice %></p>

<p>
  <strong>Lab:</strong>
  <%= @sample.lab %>
</p>

<p>
  <strong>Lab nr:</strong>
  <%= @sample.lab_nr %>
</p>

<p>
  <strong>Bp:</strong>
  <%= @sample.bp %>
</p>

<p>
  <strong>Std:</strong>
  <%= @sample.std %>
</p>

<p>
  <strong>Delta 13 c:</strong>
  <%= @sample.delta_13_c %>
</p>

<p>
  <strong>Delta 13 c std:</strong>
  <%= @sample.delta_13_c_std %>
</p>

<p>
  <strong>Prmat:</strong>
  <%= @sample.prmat %>
</p>

<p>
  <strong>Prmat comment:</strong>
  <%= @sample.prmat_comment %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @sample.comment %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @sample.feature %>
</p>

<p>
  <strong>Feature type:</strong>
  <%= @sample.feature_type %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @sample.phase %>
</p>

<p>
  <strong>Site:</strong>
  <%= @sample.site %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @sample.approved %>
</p>

<p>
  <strong>Right:</strong>
  <%= @sample.right %>
</p>

<p>
  <strong>Dating method:</strong>
  <%= @sample.dating_method %>
</p>

<p>
  <strong>Contact e mail:</strong>
  <%= @sample.contact_e_mail %>
</p>

<p>
  <strong>Creator ip:</strong>
  <%= @sample.creator_ip %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
