      <td><%=h table_object.short_citation %></td>
      <td><%=h table_object.year %></td>
      <td><%=h table_object.author %></td>
      <td><%=h table_object.long_citation %></td>
      <td><%=h table_object.url %></td>
