<p>
  <strong>Short Citation:</strong>
  <%=literature.short_citation %>
</p>
<p>
  <strong>Year:</strong>
  <%=literature.year %>
</p>
<p>
  <strong>Author:</strong>
  <%=literature.author %>
</p>
<p>
  <strong>Long Citation:</strong>
  <%=literature.long_citation %>
</p>
<p>
  <strong>Url:</strong>
  <%=literature.url %>
</p>

