<p id="notice"><%= notice %></p>

<p>
  <strong>Short citation:</strong>
  <%= @literature.short_citation %>
</p>

<p>
  <strong>Year:</strong>
  <%= @literature.year %>
</p>

<p>
  <strong>Author:</strong>
  <%= @literature.author %>
</p>

<p>
  <strong>Long citation:</strong>
  <%= @literature.long_citation %>
</p>

<p>
  <strong>Url:</strong>
  <%= @literature.url %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @literature.approved %>
</p>

<p>
  <strong>Bibtex:</strong>
  <%= @literature.bibtex %>
</p>

<%= link_to 'Edit', edit_literature_path(@literature) %> |
<%= link_to 'Back', literatures_path %>
