<%= semantic_form_for @culture do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <div class="form-actions well">
    <% if permitted_to? :edit, :phases -%>
      <%= f.semantic_fields_for :phases do |builder| %>
        <% builder.inputs "Phases" do %>
          <%= render "phases/phase_fields", :f => builder %>
          <hr style ="clear:both;">
        <%= builder.hidden_field :_destroy %>
        <%= link_to "remove", '#', class: "remove_fields" %>
        <% end -%>
      <% end %>
    <% end %>
      <%= f.inputs "Phases", class: "well" do %>
        <% if permitted_to? :new, :phases -%>  
          <p><%= link_to_add_fields "Add Phase", f, :phases %></p>
        <% end %>
      <% end -%>
    </div>
  <% end -%>
  <%= f.action :submit, :as => :button, label: 'Submit' , :button_html => { :class => 'btn btn-primary'} %>
<% end %>
