<%= form_for @page do |f| %>
	<% if @page.errors.any? %>
	  <ul>
		 <% @page.errors.full_messages.each do |msg| %>
		   <li><%= msg %></li>
		 <% end %>
	  </ul>
	<% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <span style ="color:darkred; background: salmon;">
      this name will be used as url! if you change it, routing will possibly be malfunction!
    </span>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, {:cols => 100, :rows => 50} %>
  </p>
  <p><%= f.submit %></p>
<% end %>
