<%= form_for(@literatures_sample) do |f| %>
  <% if @literatures_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@literatures_sample.errors.count, "error") %> prohibited this literatures_sample from being saved:</h2>

      <ul>
      <% @literatures_sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :literature_id %><br>
    <%= f.text_field :literature_id %>
  </div>
  <div class="field">
    <%= f.label :sample_id %><br>
    <%= f.text_field :sample_id %>
  </div>
  <div class="field">
    <%= f.label :pages %><br>
    <%= f.text_field :pages %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
