<%= semantic_form_for @country do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <div class="form-actions well">
    <% if permitted_to? :edit, :country_subdivisions -%>
      <%= f.semantic_fields_for :country_subdivisions do |builder| %>
        <% builder.inputs "Country Subdivision" do %>
          <%= render "country_subdivisions/country_subdivision_fields", :f => builder %>
          <hr style ="clear:both;">
        <%= builder.hidden_field :_destroy %>
        <%= link_to "remove", '#', class: "remove_fields" %>
        <% end -%>
      <% end %>
    <% end %>

      <%= f.inputs "Country Subdivisions", class: "well" do %>
        <% if permitted_to? :new, :country_subdivisions -%>  
          <p><%= link_to_add_fields "Add Country Subdivision", f, :country_subdivisions %></p>
        <% end %>  
      <% end -%>
    </div>
  <% end -%>
  <%= f.action :submit, :as => :button, label: 'Submit' , :button_html => { :class => 'btn btn-primary'} %>
<% end %>
