<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @country.position %>
</p>

<p>
  <strong>Abreviation:</strong>
  <%= @country.abreviation %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
