<% title Lab.label %>

<p>
  <strong>Lab Code:</strong>
  <%=h @lab.lab_code %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @lab.name %>
</p>
<p>
  <strong>Dating Method:</strong>
  <%=h @lab.dating_method.name rescue nil %>
</p>
<p>
  <strong>Active?:</strong>
  <%=h @lab.active %>
</p>

<p>
  <%= link_to "Show all dates for " + @lab.name, samples_path(:scope => {"labs.id"=>@lab.id} ) %>
</p>

<p>
  <%= show_view_links(@lab) %>
</p>
