      <td><%=h table_object.name %></td>
      <td><%=h table_object.parish %></td>
      <td><%=h table_object.district %></td>
      <td><%=h table_object.country_subdivision.country.name rescue nil %></td>
      <td><%=h table_object.country_subdivision.name rescue nil %></td>
