<% present @site do |site_presenter| %>
  <%- model_class = Site -%>
  <div class="page-header">
    <h1><%=site_presenter.title%> </h1>
  </div>

<div class="row">
<div class="col-md-6">
  <dl class="dl">

    <dt><%= model_class.human_attribute_name(:parish) %>:</dt>
    <dd><%= site_presenter.parish %></dd>
    <dt><%= model_class.human_attribute_name(:district) %>:</dt>
    <dd><%= site_presenter.district %></dd>
    <dt><%= model_class.human_attribute_name(:country) %>:</dt>
    <dd><%= site_presenter.country_name %></dd>
    <dt><%= model_class.human_attribute_name(:country_subdivision) %>:</dt>
    <dd><%= site_presenter.country_subdivision_name %></dd>
    <dt>Location:</dt>
    <dd><%= site_presenter.location %></dd>
</dl>
</div>
<div class="col-md-6">
  <%= site_presenter.map %>
</div>
</div>
  <p>
    <%= link_to "Show all dates for " + @site.name, samples_path(:scope => {"sites.id"=>@site.id} ) %>
  </p>

  <p>
    <%= show_view_links(@site) %>
  </p>
<%end%>
