<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Radon" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= yield :head %>

    <%= javascript_include_tag "application" %>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  
  <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <%=image_tag("c14_b.png", class: "navbar-brand", style: "padding: 5px 5px")%>
                  <a class="navbar-brand" href="<%=root_path%>">RADON</a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse" id="navbar">
                  <%= menu_group do %>
                    <% Page.order('position ASC').each do |page| -%>
                      <%= menu_item page.name.humanize, url_for(:action => 'show', :name => page.name, :controller => 'pages') unless page.name.blank? || page.name.humanize.blank? -%>
                    <% end -%>
                  <% end -%>
                  <%= menu_group do%>
                    <%= drop_down "Tables" do %>
                      <% controllers = Dir.new("#{::Rails.root}/app/controllers").entries.sort %>
                      <% controllers.each do |controller| -%>
                        <% if controller =~ /_controller/ -%>
                          <% cont= controller.gsub("_controller.rb","") -%>
                          <% if permitted_to? :index, cont.to_sym -%>
                          <% cont_name = cont.classify.constantize.label.pluralize rescue cont.humanize %>
                                <% if cont == "searches" -%>
                                <% elsif (cont == "literatures_samples" || cont == "pages" || cont == "announcements") -%>
                                <% else -%>
                                  <%= menu_item cont_name, eval(cont +"_path")%>
                              <% end -%>       
                          <% end -%>
                        <% end -%>
                      <% end -%>
                    <% end -%>
                  <%end%>
                  <ul class="nav navbar-nav navbar-right">
                    <%= menu_group :pull => :right do %>
                      <% if current_user %>
                        <%= menu_item "Log Out", logout_path %>
                        <%= drop_down "User Options" do %>
                          <%= menu_item "Edit Profile", edit_user_path(current_user) %>
                         <% if permitted_to? :index, :users -%>
                            <%= menu_item "Users", users_path %>
                          <% end -%>
                          <% if permitted_to? :index, :pages -%>
                            <%= menu_item "Pages", pages_path %>
                          <% end -%>
                          <% if permitted_to? :manage, :announcements -%>
                            <%= menu_item "Announcements", announcements_path %>
                          <% end -%>
                          <% if permitted_to? :without_geolocalisation, :sites -%>
                            <%= menu_item "Sites without Geolocalisation", without_geolocalisation_sites_path %>
                          <% end %>
                          <% if permitted_to? :with_geolocalisation, :sites -%>
                            <%= menu_item "Sites with Geolocalisation", with_geolocalisation_sites_path %>
                          <% end %>
                          <% if permitted_to? :without_bibtex, :literatures -%>
                            <%= menu_item "Literature without bibtex", without_bibtex_literatures_path %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= semantic_form_for UserSession.new, html: {class: 'form-inline'}  do |f| -%>
                            <%= f.text_field :login, placeholder: 'Login', class: "input-sm col-xs-3"  %>
                            <%= f.password_field :password, placeholder: 'Password', class: "input-sm col-xs-3" %>
                            <%= f.submit "Sign in", class: "btn btn-default" %>
                        <% end %>
                      <% end %>
                    <%end%>
                  </ul>
                </div>
              </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
<p style="float:left;"><a href="https://twitter.com/RADONDatabase" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @RADONDatabase</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<a href="https://uni-kiel.academia.edu/RADON14COnlineDatabase" id="academia-button">Follow on Academia</a>
<script src="//a.academia-assets.com/javascripts/social.js" type="text/javascript"></script></p>

        <p style="float:right; text-align:right;"><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />Die Inhalte dieser Seite stehen unter einer <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Namensnennung 3.0 Unported Lizenz</a>.</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
